<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div>

    <h2>Log in</h2>
        <h4>Exception: Wrong user or password</h4>
    <form method="POST" modelAttribute="login" th:action="@{/login}">
        <div>
            <input name="username" type="text" placeholder="Username"/>
            <br>
            <br>
            <input name="password" type="password" placeholder="Password"/>
            <br>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>

    </form>
    <br>
    <a th:href="@{/home}"><button type="submit">Home</button></a>
</div>
</body>
</html>