<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Main form</title>
</head>
<body>
<div align="center">
    <h2>Main form</h2>
    <h3><a th:href="@{/api/company/show_company}">Companies</a></h3>
    <h3><a th:href="@{/api/product/show_product}">Products</a></h3>
    <h3><a th:href="@{/api/user/show_user}">Users</a></h3>
    <h3 sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></h3>
    <h3 sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></h3>
    <br>
    <h3>Logged user: <span sec:authentication="name"></span></h3>
</div>
</body>
</html>